/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: hsl(172, 100%, 93%);
  color: #333;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
/*Navigation Bar */
nav {
  position: sticky;
  top: 0;
  background: #494949;
  padding: 10px 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: rgb(214, 250, 236);
  text-decoration: none;
  font-size: 1.1rem;
}

nav ul li a:hover {
  color: #11cb8d;
}
/*Section*/
section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
}

section h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #265858 ;
}
form {
  display: flex;
  flex-direction: column;
}
/*Form*/
form input, form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

form button {
  padding: 10px 20px;
  background: #265858;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

form button:hover {
  background: #11cb8d;
}
/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}
