/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: hsl(172, 100%, 93%);
  color: #333;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
/*Navigation Bar */
nav {
  position: sticky;
  top: 0;
  background: #494949;
  padding: 10px 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: rgb(214, 250, 236);
  text-decoration: none;
  font-size: 1.1rem;
}

nav ul li a:hover {
  color: #11cb8d;
}
/*Section*/
section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: 0 auto;
  height: 84vh;
}

section h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #265858 ;
}

/*Skills*/
#skills {
  background-color: #hsl(172, 100%, 93%);
  padding: 0;
  text-align: center;
}

#skills h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #333;
}

.skills-container {
  display: grid;
  justify-content: center;
  gap: 30px;
  max-width: 900px;
  margin: auto;
}

.skill {
  background: rgb(174, 250, 237);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  margin-bottom: 20px;
  width: 30vw;
}

.skill i {
  font-size: 48px;
  margin-bottom: 20px;
  
}

.skill span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
}

.progress-bar {
  background: #ddd;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: #0310c4;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}